.mainPage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #181a20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    background: url("/winter.png") fixed no-repeat;
    background-size: cover;
}

.timeTable {
    color: #fff;
    background-color: rgba(52, 82, 102, 0.5);
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem;
    backdrop-filter: blur(5px);
    box-shadow:
      0 0 100px rgba(255,255,255,0.56),
      inset 0 0 200px #add8e67f;
    h2 {
        text-align: center;
        font-size: 3rem;
        margin: 1rem;
        color: #90e9ff;
      }
}

.time {
    padding: 1rem;
    border-top: 2px solid #ffffff3f;
    p {
        font-size: 2rem;
        float: right;
        transform: translateY(-50px);
      }
    h3 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 95%;
      }
}

@media only screen and (orientation: portrait) {
    .mainPage {
      flex-direction: column;
      padding: 0;
      height: 100%;
    }
    .timeTable {
      margin: 0.5rem;
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .time{
        p {
        font-size: 1rem;
        transform: translateY(-10px);
    
        }
    }
  }


.editCard{
  // main styling
  color: #fff;
  background-color: rgba(52, 82, 102, 0.5);
  height: 90%;
  width: 90%;
  padding: 40px;
  overflow: hidden;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow:
    0 0 100px rgba(73, 71, 71, 0.205),
    inset 0 0 200px #add8e67f;
  
    button{
      width: 100px;
      height: 40px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
    }
  .options{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr  ;

    .option{
      background-color: #3131315d;
      border-radius: 10px;
      padding: 40px;
      margin: 30px;
      display: flex;
    }
  }
  .autocomplete{
    display: inherit;
    background-color: #f0f0f0d2;
    color: #1d1d1d;
    max-width: 300px;
    padding: 10px;
    .item{
      border-bottom: 1px solid #000;
      padding: 5px;
      &:hover{
        background-color: rgb(185, 185, 185);
      }
    }
  }

  .stop{
    background-color: rgba(59, 59, 59, 0.363);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    button{
      background-color: rgb(221, 108, 108);
      &:hover{
        background-color: rgb(204, 95, 95);
      }
    }
  }

  .selected{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    height: 40%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    button{
      margin-top: 30px;
      background-color: #5acfac;
      &:hover{
        background-color:rgb(73, 170, 141);

      }
    }
  }

  input{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
    background-color: #cececea6;    
  }
}//end of .editCard


.hidden{
  display: none;
}